<h1>Blog</h1>

<div class="posts">
    {{#if posts}}
    {{#each posts}}
        <div class="post" id="post_{{this._id}}">
            <div class="post-image"><img src="{{staticURL this.image }}" alt="asdsad"></div>
            <h2 class="post-title">{{this.title}}</h2>
            <a href="/blog/post/{{this._id}}">Читать</a>
        </div>
    {{/each}}
    {{else}}
        <p>На данный момент постов нет.</p>
    {{/if}}
</div>
